{% from "macros/form.njk" import label, field, textarea, confirm, checkboxes, button %}

<form name="contact" method="POST" data-netlify="true" action="/thank-you/" netlify-honeypot="bot-field">
  <ol class="[ field-list ]">
    <li class="[ field-list__field-group ]">
      {{ label("What’s your name?", "name") }}
      {{ field( "text", "name", { required: true, placeholder: "Your Name", autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
    </li>
    <li class="[ field-list__field-group ]">
      {{ label("What’s your email address?", "email") }}
      {{ field( "email", "email", { required: true, placeholder: "email@domain.tld", autocomplete: "email" } ) }}
    </li>
    <li class="[ field-list__field-group ]">
      {{ label("How can we help?", "message") }}
      {{ textarea( "message", { required: true, autocapitalize: "sentences", spellcheck: "true" } ) }}
    </li>

    
     <li class="[ field-list__field-group ]">
              {{ checkboxes("Consent to Contact", "field-checkbox-name", [ { label: "I am happy for Tech Works For Us to use my personal data to reply to me.", value: "Consent to Contact", note: "We take your privacy seriously, and will only use your data to reply to your message. For more information, see our  privacy notice. This form is processed via Netlify and will be sent via email." } ] ) }}
            </li>


    <li hidden>
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </li>
  </ol>
  {{ button("Send message") }}
</form>
